/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #673ab7;
  --ifm-color-primary-dark: #5d34a5;
  --ifm-color-primary-darker: #58319c;
  --ifm-color-primary-darkest: #482980;
  --ifm-color-primary-light: #7345c4;
  --ifm-color-primary-lighter: #7a4ec7;
  --ifm-color-primary-lightest: #8e6ad0;
  --ifm-code-font-size: 95%;
}

body {
  font-family: "Nunito", -apple-system, sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Nunito", -apple-system, sans-serif;
}

h1, h2 {
  font-weight: 300;
}

h3, h4, h5 {
  font-weight: 400;
}

blockquote {
  background: var(--ifm-color-emphasis-100);
  border-radius: 4px;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
